body{
	color:#333;
	font-family:Arial, Helevetica, sans-serif;
	font-size:10pt;
}

#result{
	width:350px;
	margin:0px auto;
	text-align:center;
}

#empty{
	display:none !important;
}

#skipThread{
	font-style:italic;
	cursor:pointer;
	color:#CCC;
}